.filter-input-checkbox {
    position: absolute;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   padding-left: 33px
}
.label-option {
    color: #283136;
    cursor: pointer;
}
.label-option::before {
    content: "";    
    display: inline-block;
    width: 27px;
    height: 27px;
    vertical-align: middle;    
    background: url(/image/checkbox-off.png) no-repeat;
    
}

.filter-input-checkbox:checked + .label-option::before {
    background: url(/image/checkbox-on.png) no-repeat;    
}

/* hover */

.filter-input-checkbox:hover + .label-option::before {
    background: url(/image/checkbox-off-focus.png) no-repeat;
}
.filter-input-checkbox:checked:hover + .label-option::before {
    background: url(/image/checkbox-on-focus.png) no-repeat;
}

/* disabled */

.filter-input-checkbox:disabled + .label-option::before {
    background: url(/image/checkbox-off-disabled.png) no-repeat;
}
.filter-input-checkbox:checked:disabled + .label-option::before {
    background: url(/image/checkbox-on-disabled.png) no-repeat;
}
/* label */
.filter-input-checkbox:hover + .label-option {
    color: rgb(221, 20, 20);
}
.filter-input-checkbox:disabled + .label-option {
    color: #bec1c2;
    pointer-events: none;
}



.filter-option {
    position: relative;
    padding-left: 20px;
    padding-bottom: 10px;
}

.filter-option label {
    color: #283136;
    line-height: 20px;
    font-weight: 400;    
}
.filter-option label:hover {
    color: #000;
}

.label-input-radio {
    cursor: pointer;   
}

.label-input-radio::before {
    content: "";
    display: block;
    width: 25px;
    height: 25px;    

    background: url(/image/radio-off.png) no-repeat;
    background-size: 25px 25px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.label-input-radio::after {
    content: "";
    display: block;
    width: 25px;
    height: 25px;

    background-size: 25px 25px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.filter-input-radio:checked + .label-input-radio::before {
    background:  url(/image/radio-on.png);   
}

.filter-input-radio:checked + .label-input-radio:hover:after {  
    background: url(/image/radio-on-op1.png) no-repeat;
}

.filter-option:hover {
    background: url(/image/radio-off-op1.png) no-repeat;
}

.filter-input-radio:disabled +
.label-input-radio {
    pointer-events: none;
    opacity: 0.3;
}