body {
  margin: 0;
  padding: 0;
  width: 1440px;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #000000;

  background-color: white;
  background-image: url(/image/white-back.png);
  background-position: 0 0;
  background-repeat: repeat;
}

/* .visually-hidden {
    visibility: hidden;
} */

a {
  text-decoration: none;
}

.main-header {
  background-color: #eeeeee;
  background-image: url(/image/grey-back.png);
}

.main-navigation {
  font-size: 16px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.site-navigation,
.user-navigation {
  list-style: none;
}

.site-navigation a,
.user-navigation a {
  color: #000000;
}

.main-header-logo img:hover {
  opacity: 0.8;
}

.site-navigation a:focus,
.user-navigation a:focus,
.main-header-logo:focus {
  opacity: 0.3;
}

.site-navigation a:hover,
.user-navigation a:hover {
  color: #fb565a;
}

.site-navigation a:active,
.user-navigation a:active {
  opacity: 0.3;
}

.slider-content-info a {
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  text-align: center;

  background-color: #fb565a;
  border-radius: 2px;
}

.slider-content-info a:hover {
  background-color: #e74246;
}

.slider-content-info .button:focus {
  color: #e37376;
  background-color: #be2c2f;
}

.main-page {
  width: 1160px;
}

.working-presentation h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.working-presentation p {
  line-height: 24px;
  font-weight: 400;
}

.working-presentation a {
  color: #ffffff;
  text-align: center;
  border-radius: 2px;
}

.button-order1 {
  color: #000000;
  background-color: #fb565a;
}

.button-order1:hover {
  background-color: #e74246;
}

.button-order1:focus {
  color: #e48789;
  background-color: #d7373b;
}

.button-order2 {
  background-color: #00ca74;
}

.button-order2:hover {
  background-color: #00bc6c;
}

.button-order2:focus {
  color: #4dc491;
  background-color: #00aa62;
}

.button-order3 {
  background-color: #efc84a;
}

.button-order3:hover {
  background-color: #eab534;
}

.button-order3:focus {
  color: #edc265;
  background-color: #e5a722;
}

hr {
  opacity: 0.35;
}

.info-studio1 h3 {
  font-size: 45px;
  line-height: 45px;
}

.info-studio1 p {
  line-height: 24px;
  font-weight: 400;
}

.info-studio1 h4 {
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.info-studio1 ul {
  list-style: none;
}

.info-studio1 li::before {
  content: url(/image/line-red.png);
  margin-right: 10px;
}

.info-studio2-p {
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.info-studio2 td {
  font-size: 45px;
  line-height: 20px;
  font-weight: 700;
}

.info-studio2 td span {
  font-size: 25px;
  vertical-align: top;
  line-height: 0;
}

.info-studio2 td p {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
}

.partners-logo li {
  list-style: none;
}

.footer-map h4 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

.footer-map-contacts p {
  font-weight: 400;
  color: #666666;
  text-align: left;
}

.footer-map-contacts a {
  color: #ffffff;
  background-color: #fb565a;
  text-transform: uppercase;
  text-align: center;
  border-radius: 2px;
}

.footer-map-contacts a:hover {
  background-color: #e74246;
}

.footer-map-contacts a:focus {
  color: #e37376;
  background-color: #d7373b;
}

.partners-logo a {
  opacity: 0.2;
}

.partners-logo a:hover {
   opacity: 1;
}

.partners-logo a:focus {
  opacity: 0.1;
}

.footer-cocial ul {
  list-style: none;
}

.footer-cocial li {
  width: 79px;
  height: 79px;
  background-color: #e1e1e1;
  border-radius: 50%;
  text-align: center;
}

.footer-cocial img {
  margin-top: 30px;
}

.footer-cocial b {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
}

.footer-cocial p {
  line-height: 22px;
  font-weight: 400;
  image-rendering: crisp-edges;
}


.footer-modal-write-us h3 {
    font-size: 45px;
    line-height: 45px;
   font-weight: 500;
}

.footer-modal-form p {
    font-weight: 700;
}

.modal-form-item input {
    font-weight: 400;
    opacity: 0.5;
}

.footer-modal-form .button {
    color: #ffffff;
    background-color: #fb565a;
    border: none;
    border-radius: 2px;
}

.footer-modal-form .button:hover {
    background-color: #e74246;
}

.footer-modal-form .button:focus {
    color: #e37376;
    background-color: #d7373b;
}

.modal-close {
    color: #fecccd;   
}



.filter fieldset {
    border: none;

}

.filter legend {
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
    
}

.filter-form-item input {
    font-weight: 400;
    line-height: 22px;
    background-color: #eeeeee;
}

.filter ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


/* ФИЛЬТР СЕТКА */

/* .filter-input-radio {
    position: absolute;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;   
} */

.label-input-radio {
    color: #485157;
    cursor: pointer;
}

.label-input-radio::before {
    content: "";    
    display: inline-block;
    width: 25px;
    height: 25px;
    vertical-align: middle;    
    background: url(/image/radio-off.png) no-repeat;
}

/* checked */
.filter-input-radio:checked + .label-input-radio::before {
    background: url(/image/radio-on.png) no-repeat;    
}

/* hover */
.filter-input-radio:hover + .label-input-radio::before {
    background: url(/image/radio-off-op1.png) no-repeat;
}

.filter-input-radio:checked:hover + .label-input-radio::before {
    background: url(/image/radio-on-op1.png) no-repeat;
}

.filter-input-radio:disabled + .label-input-radio::before {
    background: url(/image/checkbox-off-disabled.png) no-repeat;
}

.filter-input-radio:checked:disabled + .label-input-radio::before {
    background: url(/image/checkbox-on-disabled.png) no-repeat;
}

/* label */
.filter-input-radio:hover + .label-input-radio {
    color: #000000;
}
.filter-input-radio:disabled + .label-input-radio {
    color: #bec1c2;
    pointer-events: none;
}

/* focus */



/* ФИЛЬТР ОСОБЕННОСТИ: */


.catalog-filters ul {
    list-style: none;
    line-height: 30px;
    
}


/* .filter-input-checkbox {
    position: absolute;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   padding-left: 33px
} */

.label-option {
    color: #545f64;
    cursor: pointer;
}

.label-option::before {
    content: "";    
    display: inline-block;
    width: 27px;
    height: 27px;
    vertical-align: middle;    
    background: url(/image/checkbox-off.png) no-repeat;
    
}

.filter-input-checkbox:checked + .label-option::before {
    background: url(/image/checkbox-on.png) no-repeat;    
}

/* hover */

.filter-input-checkbox:hover + .label-option::before {
    background: url(/image/checkbox-off-focus.png) no-repeat;
}

.filter-input-checkbox:checked:hover + .label-option::before {
    background: url(/image/checkbox-on-focus.png) no-repeat;
}

/* disabled */
.filter-input-checkbox:disabled + .label-option::before {
    background: url(/image/checkbox-off-disabled.png) no-repeat;
}
.filter-input-checkbox:checked:disabled + .label-option::before {
    background: url(/image/checkbox-on-disabled.png) no-repeat;
}

/* disabled hover label */
.filter-input-checkbox:hover + .label-option {
    color: #000000;
}

.filter-input-checkbox:disabled + .label-option {
    color: #bec1c2;
    pointer-events: none;
}

/* кнопка ПОКАЗАТЬ */
.filter-button-show {
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    text-align: center;
    background-color: #eeeeee;
}

/* СОРТИРОВАТЬ: */

.sorting-filter ul {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    
}
.sorting-filter fieldset {
    border: none;
}
cursor: pointer;